<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="/cv.pdf"><i class="far fa-file"></i> CV</a></li>
      <li><a href="https://scholar.google.com/citations?user=xhyvWroAAAAJ" rel="me"><i class="fas fa-user-graduate"></i> Google Scholar</a></li>
      <li><a href="https://github.com/HumanshuDG" rel="me"><i class="fab fa-github"></i> GitHub </a></li>
      <li><a href="https://twitter.com/HumanshuDG" rel="me"><i class="fab fa-twitter"></i> Twitter </a></li>
        
        
        
        
        
        
        
      <a style="text-decoration:none;" href="https://www.linkedin.com/in/HumanshuDG" class="pics">
        <img src="https://img.shields.io/badge/-HumanshuDG-FFFFFF?&style=flat&logo=github&logoColor=000000&link=https://github.com/HumanshuDG?tab=followers">
      </a>
        
        
        
        
        
        
        
      <li><a href="https://img.shields.io/badge/-HumanshuDG-FFFFFF?&style=flat&logo=github&logoColor=000000&link=https://github.com/HumanshuDG?tab=followers"><i class="GitHub Badge"></i>  </a></li>
      <li><a href=""><i class=""></i>  </a></li>
      <li><a href=""><i class=""></i>  </a></li>
      <li><a href=""><i class=""></i>  </a></li>
      <li><a href=""><i class=""></i>  </a></li>
      <li><a href=""><i class=""></i>  </a></li>
      <li><a href=""><i class=""></i>  </a></li>
      <li><a href=""><i class=""></i>  </a></li>
      <li><a href=""><i class=""></i>  </a></li>
      <li><a href=""><i class=""></i>  </a></li>
      <li><a href=""><i class=""></i>  </a></li>
        

        
        
        
        
        
        

[![]()](https://github.com/HumanshuDG?tab=followers)
[![Follower Count](https://img.shields.io/github/followers/HumanshuDG?label=Followers&color=dc5cc4&style=flat)](https://github.com/HumanshuDG?tab=followers)
[![Profile Views](https://komarev.com/ghpvc/?username=HumanshuDG&color=dc5cc4&style=flat)](https://github.com/HumanshuDG) <br>
[![Twitter Badge](https://img.shields.io/badge/-HumanshuDG-FFFFFF?&style=flat&logo=twitter&link=https://twitter.com/HumanshuDG)](https://twitter.com/HumanshuDG)
[![Linkedin Badge](https://img.shields.io/badge/-HumanshuDG-FFFFFF?style=flat&logo=Linkedin&logoColor=0072b1&link=https://www.linkedin.com/in/HumanshuDG)](https://www.linkedin.com/in/HumanshuDG)
[![FaceBook Badge](https://img.shields.io/badge/-HumanshuDG-FFFFFF?style=flat&logo=facebook&link=https://facebook.com/HumanshuDG)](https://facebook.com/HumanshuDG)
[![Instagram Badge](https://img.shields.io/badge/-HumanshuDG-FFFFFF?style=flat&logo=instagram&link=https://instagram.com/HumanshuDG)](https://instagram.com/HumanshuDG)
[![Medium Badge](https://img.shields.io/badge/-HumanshuDG-FFFFFF?style=flat&labelColor=000000&logo=Medium&link=https://medium.com/@HumanshuDG)](https://medium.com/@HumanshuDG)
[![Gmail Badge](https://img.shields.io/badge/-GMail-FFFFFF?style=flat&logo=Gmail&link=mailto:humanshu12345@gmail.com)](mailto:humanshu12345@gmail.com)

    </ul>
  </div>
