<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h4);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li>
        <a style="text-decoration:none;" href="https://github.com/HumanshuDG?tab=followers" class="Follower Count">
          <img src="https://img.shields.io/github/followers/HumanshuDG?label=Followers&color=dc5cc4&style=flat">
        </a>
      </li>
      <li>
        <a style="text-decoration:none;" href="https://github.com/HumanshuDG" class="Profile Views">
          <img src="https://komarev.com/ghpvc/?username=HumanshuDG&color=dc5cc4&style=flat">
        </a>
      </li>
      <li>
        <a style="text-decoration:none;" href="https://github.com/HumanshuDG?tab=followers" class="GitHub Badge">
          <img src="https://img.shields.io/badge/-HumanshuDG-353535?&style=flat&logo=github&logoColor=000000&link=https://github.com/HumanshuDG?tab=followers">
        </a>
      </li>
      <li>
        <a style="text-decoration:none;" href="https://www.linkedin.com/in/HumanshuDG" class="Linkedin Badge">
          <img src="https://img.shields.io/badge/-HumanshuDG-353535?style=flat&logo=Linkedin&logoColor=0072b1&link=https://www.linkedin.com/in/HumanshuDG">
        </a>
      </li>
      <li>
        <a style="text-decoration:none;" href="https://twitter.com/HumanshuDG" class="Twitter Badge">
          <img src="https://img.shields.io/badge/-HumanshuDG-353535?&style=flat&logo=twitter&link=https://twitter.com/HumanshuDG">
        </a>
      </li>
      <li>
        <a style="text-decoration:none;" href="https://facebook.com/HumanshuDG" class="FaceBook Badge">
          <img src="https://img.shields.io/badge/-HumanshuDG-353535?style=flat&logo=facebook&link=https://facebook.com/HumanshuDG">
        </a>
      </li>
      <li>
        <a style="text-decoration:none;" href="https://instagram.com/HumanshuDG" class="Instagram Badge">
          <img src="https://img.shields.io/badge/-HumanshuDG-353535?style=flat&logo=instagram&link=https://instagram.com/HumanshuDG">
        </a>
      </li>
      <li>
        <a style="text-decoration:none;" href="https://medium.com/@HumanshuDG" class="Medium Badge">
          <img src="https://img.shields.io/badge/-HumanshuDG-353535?style=flat&labelColor=000000&logo=Medium&link=https://medium.com/@HumanshuDG">
        </a>
      </li>
      <li>
        <a style="text-decoration:none;" href="mailto:humanshu12345@gmail.com" class="Gmail Badge">
          <img src="https://img.shields.io/badge/-GMail-353535?style=flat&logo=Gmail&link=mailto:humanshu12345@gmail.com">
        </a>
      </li>
    </ul>
  </div>
